@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }

  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 955px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }

  .menu-user {
    left: 0.1rem;
  }
}

.menu-user {
  right: 1.5rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* ============= NavLink active End here ================ */

.header-component {
  background: #b5cfd8;
}

.footer-component {
  background: #b5cfd8;
}

.navbar-component {
  background: #e8ecf1;
}

.navbar-mobile-component,
.btn-new,
.btn-sign-in {
  background: #6c737e;
}

.product-card {
  background: #dff0ea;
}

.left-side-box {
  background: #272343;
}

.group-item {
  margin: 10px 0px;
}

.container-total {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-footer {
  margin-top: auto;
}

/* Avatar profile */
.box-avatar span>i.fa-pencil {
  color: #929292;
  cursor: pointer;
}

.box-avatar .avatar-img {
  margin-top: -50px;
  position: relative;
}

.box-avatar .avatar-img .update-profile {
  cursor: pointer;
}

.box-avatar .avatar-img .border-img {
  border: 5px solid #b5cfd8;
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.box-avatar .avatar-img .border-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.icon-user {
  font-size: 24px;
  vertical-align: middle;
  color: #ccc;
}

.icon-user-avatar {
  font-size: 65px;
}